/* body { */
/*     background-color: #ffffff; */
/*     font-family: Roboto,'Helvetica Neue',Arial,Helvetica,sans-serif; */
/* } */
/* h1, h2, h3 { */
/*     font-family: M PLUS Rounded\ 1c,SF UI Text,Helvetica Neue,Helvetica,Roboto,sans-serif; */
/*     font-weight: 400; */
/*     line-height: 1.28571429em; */
/*     margin: calc(2rem - 0.14286em) 0 1rem; */
/*     padding: 0; */
/* } */
.homeContainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.featured{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem{
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex:1
}

.featuredImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles{
  position: absolute;
  line-height: 1.28571429em;
  bottom: 20px;
  left: 20px;
  font-family: M PLUS Rounded\ 1c,SF UI Text,Helvetica Neue,Helvetica,Roboto,sans-serif;
  font-weight: 200;
  font-size: 1.28571429rem;
  color: #031b4e;
  /* background-image: none; */
}
